* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    margin-bottom: 58px;
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    text-align: center;
}

.navbar-item {
    margin-left: 40px;
    margin-right: 40px;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
}

.navbar-text {
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}

.navbar-contacts {
    text-align: right;
}

.navbar-phone {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}



.content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 99px;
}

.content-pic {
    width: 734px;
    height: 640px;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 31px;
    padding-top: 68px;
}

.content-text img {
    align-self: center;
    padding-bottom: 50px;
}


.content-text p {
    color:  #635854;    
    font-size: 37px;
}

.content-text p2 {
    background-color:  #3596F5;
    color: #fff;
    padding: 20px 36px;
    border-radius: 5px;
    text-align: center;
}



.footer {
    border-top: 4px solid #3596F5;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D7D7D7;
    padding: 40px 50px;
}

.footer-contacts {
    text-align: left;
}

.footer-text {
    display: block;
    color:  #635854;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}

.footer-phone {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color:  #635854;
}

.footer-menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    text-align: center;
}

.footer-item {
    margin-left: 40px;
    margin-right: 40px;
}

.footer-link {
    color: #635854;
}
