* {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}

body {
    background-color: #1a1a1a;
}

/**------- CSS НАВИГАЦИОННОЙ ПАНЕЛИ -------*/

.nav-ul {
    display: flex;
    justify-content: center;
    gap: 130px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
    padding: 30px;
    background-color: #3d3d3d;
}

.nav-ul a{
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
}

.nav-ul a:hover{
    background-color: #505050;
    border-radius: 20px;
    text-decoration: underline;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

/**------- CSS WRAPPER -------*/

.wrapper {
    padding-left: 100px;
    padding-right: 100px;
    background-image: radial-gradient(at 30.791351486504915% 73.28698100829027%, hsla(0, 0%, 30.980392156862745%, 1) 0%, hsla(0, 0%, 30.980392156862745%, 0) 100%), radial-gradient(at 86.15412155004236% 31.316227867309742%, hsla(0, 0%, 58.03921568627452%, 1) 0%, hsla(0, 0%, 58.03921568627452%, 0) 100%), radial-gradient(at 99.01812723859771% 35.050100481627446%, hsla(0, 0%, 38.03921568627451%, 1) 0%, hsla(0, 0%, 38.03921568627451%, 0) 100%), radial-gradient(at 1.660240602227292% 33.68125842101748%, hsla(0, 0%, 25.882352941176475%, 1) 0%, hsla(0, 0%, 25.882352941176475%, 0) 100%), radial-gradient(at 97.76743760411837% 60.230330766150516%, hsla(0, 0%, 21.96078431372549%, 1) 0%, hsla(0, 0%, 21.96078431372549%, 0) 100%), radial-gradient(at 3.69260259433557% 94.67604048770437%, hsla(0, 0%, 30.980392156862745%, 1) 0%, hsla(0, 0%, 30.980392156862745%, 0) 100%), radial-gradient(at 58.87542501608651% 61.011632748710795%, hsla(0, 0%, 58.03921568627452%, 1) 0%, hsla(0, 0%, 58.03921568627452%, 0) 100%), radial-gradient(at 75.78817146279975% 39.72824549450613%, hsla(0, 0%, 38.03921568627451%, 1) 0%, hsla(0, 0%, 38.03921568627451%, 0) 100%), radial-gradient(at 1.6251162345390924% 33.645151297347084%, hsla(0, 0%, 25.882352941176475%, 1) 0%, hsla(0, 0%, 25.882352941176475%, 0) 100%), radial-gradient(at 16.209973251377384% 2.8415414982042586%, hsla(0, 0%, 21.96078431372549%, 1) 0%, hsla(0, 0%, 21.96078431372549%, 0) 100%), radial-gradient(at 15.986101073697846% 85.8669350165603%, hsla(0, 0%, 30.980392156862745%, 1) 0%, hsla(0, 0%, 30.980392156862745%, 0) 100%), radial-gradient(at 19.136138750030575% 30.835540105725755%, hsla(0, 0%, 58.03921568627452%, 1) 0%, hsla(0, 0%, 58.03921568627452%, 0) 100%);
}



/**------- CSS ПРОФИЛЯ -------*/



.profile-main {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 160px;
    background-image: url("./img/bg_chelyabinsk_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-main img{
    width: 280px;
    height: 280px;
    margin-left: 135px;
    align-self: center;
    border-radius: 20px;
}

.profile-about-me {
    width: 700px;
    padding: 20px;
    margin-left: 120px;
    margin-right: 135px;
    border-radius: 20px;
    background: #00000095;
}

.profile-about-me h3{
    font-size: 20px;
    padding: 5px;
}

.profile-about-me p{
    font-size: 20px;
    padding: 5px;
}



/**------- CSS КАРТ ПРИЛОЖЕНИЙ -------*/



.programs-main {
    padding-top: 100px;
}

.program-cards-name h2{
    width: 548px;
    padding: 22px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #3d3d3d;
}

.programs-card-main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 135px;
    padding-right: 135px;
    border-bottom: 3px dashed #3d3d3d;
}

/*^--------------------------------*/

.programs-card-pattern-html img{
    padding: 20px;
    align-self: center;
    width: 190px;
    height: 170px;
}

.programs-card-pattern-html h2{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/*^--------------------------------*/

.programs-card-pattern-css img{
    padding: 20px;
    align-self: center;
    width: 200px;
    height: 170px;
}

.programs-card-pattern-css h2{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/*^--------------------------------*/

.programs-card-pattern-vsc img{
    padding: 20px;
    align-self: center;
    width: 170px;
    height: 170px;
}

.programs-card-pattern-vsc h2{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/*^--------------------------------*/

.programs-card-pattern-yandex img{
    padding: 20px;
    align-self: center;
    width: 170px;
    height: 170px;
}

.programs-card-pattern-yandex h2{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}



/**------- CSS КАРТ ПРОЕКТОВ -------*/



.projects-cards-main {
    padding-top: 100px;
    border-bottom: 3px dashed #3d3d3d;
}

.projects-cards-main h2{
    font-size: 25px;
    font-weight: bold;
    width: 580px;
    padding: 22px;
    margin-bottom: 60px;
    border-radius: 20px;
    background-color: #3d3d3d;
}

.projects-cards {
    display: flex;
    justify-content: space-evenly;
    margin-left: 135px;
    margin-right: 135px;
    gap: 80px;
}

/*^--------------------------------*/

.project-cards-pattern {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 80px;
}

.project-cards-pattern p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.project-cards-pattern img {
    width: 600px; 
    height: auto;
    transition: box-shadow .3s ease-in-out;
}

.project-cards-pattern img:hover {
    box-shadow: 1px 1px 15px 10px #3d3d3d;
    border: 2px solid #bebebe;
}



/**------- CSS ФОРМА -------*/



.form-main {
    display: flex;   
    justify-content: center; 
    padding-top: 120px;
    padding-bottom: 80px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 135px;
    margin-right: 135px;
}

.form-border form {
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    border: 1px solid #bebebe;
}

.form-css h2{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #3d3d3d;
}

.form-css input{
    width: 560px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #bebebe;
}

.form-css input::placeholder {
    color: #ffffff;
}

/*^-------------------------------- */

.form-css select{
    width: 560px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #bebebe;
    color: #ffffff;
}

.form-css select option{
    font-weight: 500;
    color: #000000;
}

/*^-------------------------------- */

.form-css textarea{
    padding: 20px;
    width: 560px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid #bebebe;
}

.form-css textarea::placeholder {
    color: #ffffff;
}

/*^-------------------------------- */

input[type=file]::file-selector-button {
    margin-right: 20px;
    padding: 10px 20px;
    color: #fff;
    background: #3d3d3d;
    border-radius: 10px;
    border: 1px solid #bebebe;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #fff;
    color: #000000;
  }

/*^-------------------------------- */

.form-css input[type="submit"] {
    width: 560px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #bebebe;
    background-color: #3d3d3d;
    color: #ffffff;
    font-weight: bold;
    transition: all .3s ease-in-out;
}


.form-css input[type="submit"]:hover {
    background: #fff;
    color: #000000;
}



/**------- CSS ПОДВАЛ САЙТА -------*/



.footer-main {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    color: #ffffff;
    background-color: #1a1a1a;
}

.footer-block {
    display: flex;
    margin-right: 135px;
}

.footer-contacts {
    display: flex;
    gap: 180px;
    font-size: 25px;
}

.footer-social-network a{
    display: flex;
    gap: 20px;
    padding-top: 40px;
}

.footer-social-network-links img{
    width: 65px;
    height: 65px;
}