body {
    padding-top: 10px;
    background: linear-gradient(to top, #161616, rgb(39, 39, 39));
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

p {
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

h2 {
    padding: 12px;
    padding-left: 35px;
    font-family: 'Arial', sans-serif;
    background: rgb(40, 40, 40);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

li {
    margin-left: 140px;
    margin-right: 140px;
    padding: 2px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

footer {
    padding: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    font-size: 17px;
}

table {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    font-size: 17px;
}

.screenshots {
    padding-top: 15px;
    padding-left: 36px;
    padding-bottom: 20px;
}

.attention{
    border: 2px solid;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
}

.toppadding {
    padding-top: 20px;
}

.container{
    max-width: 900px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-footer {
    padding: 20px;
    color: #fff;
    text-align: center;
}

.images {
    padding: 5px;
    color: #fff;
    position:relative;
    left:10px;
    display:inline;
    margin: 0 15px;
}

.backgroundC{
    width: 1075px;
    margin: 0 auto;
    background: #333;
    padding-top: 10px;
}

.names {
    padding-left: 28px;
    padding-right: 40px;
    display: flex;
    justify-content: none;
}

.cybertext{
    color: rgb(0, 162, 255);
    font-size: 20px;
}